html,body,#root{
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: #E5E5E5;
    font-family: 'Mukta', sans-serif;
}
a{
    text-decoration: none;
}
.error{
    color: red;
}
/*
===============================
---> Header
===============================
*/
.nav_wrapper{
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 1rem;
    align-items: center;
}
.links_wrapper a{
    text-decoration: none;
    margin: 0px .8rem;
    padding: 1.4rem 0px;
    color:  #606077;
    size: 16px;
    letter-spacing: 0.04em;
    line-height: 27px;
}
.links_wrapper a:hover{
    border-bottom: 2px solid rgb(192, 192, 233);
}
.links_wrapper #active{
    border-bottom: 3px solid #01037C;
    color: #01037C;
}
.icons span {
    padding: .5rem;
    background: #2E2E99;
    margin: 0px .8rem;
    border-radius: .3rem;
}
i{
    color: white;
    padding: .3rem;
}
.hamburger{
    display: none;
}
/*
===============================
---> Request
===============================
*/

.requestnfo_wrapper{
    display: grid;
    padding: 1rem;
    gap: 1rem;
}
.requestnfo_wrapper div{
    padding: 1rem;
}
 .page_header{
    padding: .4rem;
    background: #2E2E99;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    width: fit-content;
}
.customer_wrapper{
    width: 40rem;
    background: white;
    border-radius: 4px;
    position: relative;
}
.customer_request{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    border-bottom: 1px solid rgb(192, 192, 233);
}
.customer_request section{
    display: flex;
    flex-direction: column;
}
.customer_request section span:nth-child(1){
    color: #606077;
    font-size: .9rem;
    letter-spacing: 0.01em;
}
.customer_request section span:nth-child(2){
 color: #01037C;
 line-height: 30px;
 font-size: 1rem;
}
.customer_wrapper .atn_btn{
    padding: .5rem 0px;
    display: flex;
    justify-content: flex-end;
}
.customer_wrapper .atn_btn span{
    width: fit-content;
    background:#01037C;
    color: white;
    border-radius: 4px;
    padding: .5rem  1.5rem;
    margin: 0px .5rem;
    font-size: .8rem;
    cursor: pointer;
}
.customer_wrapper .atn_popup{
    position: absolute;
    background: #f0ecec;
    bottom: 3.7rem;
    right: 3rem;
    padding: 0.5rem;
    border-radius: 4px;
}
.customer_wrapper .atn_popup ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .8em;
}
.customer_wrapper .atn_popup ul li{
    padding: .5em ;
    padding-right: 4rem;
    border-bottom: 1px solid #e9e4e4;
    color:  #606077 !important;
}
.customer_wrapper .atn_popup i{
    position: absolute;
    z-index: 10;
    right: .5rem;
    top: 6.3rem;
    font-size: 30px;
    color: #f0ecec;
}
/*
===============================
---> Generate invoice
===============================
*/

.generateInv_wrapper{
    display: grid;
    padding:3rem;
    gap: 1rem;
    width: fit-content;
}
.generateInv_wrapper span:nth-child(2){
    font-size: .8rem;
    color: #373737;
}
.generateInv_wrapper .submit_wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.form_wrapper{
    display: flex;
    gap: 2rem;
}
.form_wrapper .right,.left{
    background: white;
    padding: 2rem;
    border-radius: .5rem;
}
.form_wrapper section{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 1rem 0;
}
.form_wrapper .right section:nth-child(2),
.form_wrapper .left section:nth-child(1),
.form_wrapper .left section:nth-child(2),
.form_wrapper .left section:nth-child(4){
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  
}
.form_wrapper .right section:nth-child(2) span,
.form_wrapper .left section:nth-child(1) span,
.form_wrapper .left section:nth-child(2) span,
.form_wrapper .left section:nth-child(4) span{
    display: flex;
    flex-direction: column;
    width:100%
}
.form_wrapper input{
    padding: .7rem;
    border:1px solid #DEA000;
    box-sizing: border-box;
    border-radius: 5px;
}
.form_wrapper label{
    font-size: .8rem;
    color: #373737;
}
.submit_wrapper section{
    width: 33rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.submit_wrapper button{
    padding: .8rem;
}
.submit_wrapper button:nth-child(2){
    background-color:#DEA000;
    color: white;
    border:none;
    border-radius: 5px;
}
.submit_wrapper button:nth-child(1){
    border:  1px solid #01037C;
    border-radius: 5px;
    color: #01037C;
}
#total{
    font-size: 1rem;
    background-color: #EDEDED;
    padding: .5rem;
    border-radius: 5px;
    color: #606077;
}
/*
===============================
---> Preview invoice
===============================
*/
.previewInvoice_wrapper{
    display: grid;
    width: fit-content;
    gap: 1rem;
    margin: 2rem;
    padding: 2rem;
}
.previewInvoice_wrapper .headersub{
    font-size: .8rem;
    color: #373737;
}
.previewInvoice_wrapper .invoiceNfo{
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    width: 35rem;
    display: grid;
    gap: 2rem;
}
.previewInvoice_wrapper .invoiceNfo section{
    display: flex;
    justify-content: space-between;
}
.previewInvoice_wrapper .invoiceNfo section div{
    display: flex;
    flex-direction: column;
}
.previewInvoice_wrapper .invoiceNfo section div:nth-child(2) span{
    display: flex;
    flex-direction: column;
}
.title span:nth-child(2){
    color:#606077;
    text-transform: uppercase;
}
.topNfo div:nth-child(1) span,
.bottomNfo div:nth-child(1) span{
    color: #373737;
    font-size: .8rem;
}
.topNfo div:nth-child(1) span:nth-child(1),
.bottomNfo div:nth-child(1) span:nth-child(1){
    color:#606077;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight:lighter
}
.topNfo div:nth-child(1) span:nth-child(2),
.bottomNfo div:nth-child(1) span:nth-child(2){
  font-weight: 600;
  color: #373737;
  font-size: 1rem;
}
.topNfo div:nth-child(2) span span:nth-child(1),
.bottomNfo div:nth-child(2) span span:nth-child(1){
    color: #373737;
    font-size: .8rem;
}
.topNfo div:nth-child(2),
.bottomNfo div:nth-child(2){
    row-gap: .5rem;
    text-align: end;
}
.topNfo div:nth-child(2) span:nth-child(2) span:nth-child(2),
.bottomNfo div:nth-child(2) span span:nth-child(2){
    font-size: .9rem;
}
.topNfo div:nth-child(2) span:nth-child(1) span:nth-child(2){
color: red;
font-size: .9rem;
}
table{
    width: 100%;
}
th{
    text-align:justify;
    color:  #373737;
    font-size: .8rem;
    font-weight: lighter;  
    border-bottom: 1px solid #373737; 
}
td{
    color:  #373737;
    font-size: .9rem;

}
.invoiceNfo section:nth-child(5){
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-self: flex-end;
}
.invoiceNfo section:nth-child(5) div{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 15rem;
   border-top: 1px solid #6e6a6a;
}
.invoiceNfo section:nth-child(5) div span{
    padding: 10px;
}
.invoiceNfo section:nth-child(5) div span:nth-child(1){
    color:#606077;
    font-weight: lighter;
    font-size: .8rem;
}
.invoiceNfo section:nth-child(5) div span:nth-child(2){
  justify-self: end;
  font-size: .9rem;
  color: #373737;
}
.bottom section{
   width: 100%;
}

@media(min-width:300px) and (max-width:480px){
    .links_wrapper{
        grid-area: links;
        display:none;
        flex-direction: column !important;
    }
    .links_wrapper a{
        padding: .5rem 0;
    }
    #active{
        border: none !important;
    }
    .icons{
        grid-area: "icons";
        display: none;
    }
    .form_wrapper{
        flex-direction: column;
    }
    .requestnfo_wrapper div{
        width: 100%;
        padding: .4rem ;
    }
    .requestnfo_wrapper{
        padding: .5rem;
    }
    .customer_request{
        gap: .5rem;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        gap: .3rem;
        width: 3rem;
        grid-area: hamburger;
    }
    .logo{
        grid-area: logo;
    }
    .hamburger span{
     padding: .3rem;
     background-color: sandybrown;
     border-radius: 5px;
    }
    .nav_wrapper{
        display: grid;
        grid-template-areas: 
        "logo hamburger"
        "links links"
        "icons icons";
        column-gap: .5rem;
        justify-content: space-between;
    }
    #show-menu{
        display:flex
    }
    .customer_wrapper .atn_popup{
        position: relative;
        bottom: 0.7rem;
    right: 0rem;
    background-color: white;
    }
    .generateInv_wrapper{
        padding: 1rem;
    }
    .form_wrapper .right,.left{
        padding: 1rem;
        width: fit-content;
    }
    .form_wrapper section{
        width: 23rem;
    }
    .submit_wrapper section{
        width: 23rem;
    }
    .previewInvoice_wrapper{
        padding: 1rem;
        margin: 0;
    }
    .previewInvoice_wrapper .invoiceNfo{
        width: 22rem;
        padding: 1rem;
    }
}

